- @title = "Graphs Galore!"

%ul
  %li
    Balance
    = '(' + %w(daily monthly bimonthly).map {|x| link_to(x, "/graphs/#{x}_balance") }.join(", ") + ')'
  %li 
    Expenses
    = '(' + %w(monthly bimonthly).map {|x| link_to(x, "/graphs/#{x}_expenses") }.join(", ") + ')'
  %li
    Income rate
    = '(' + %w(daily monthly bimonthly).map {|x| link_to(x, "/graphs/#{x}_income_rate") }.join(", ") + ')'