- content_for :head do
  = jqplot_javascripts
  = javascript_include_tag "graphs", "graphs/#{@graph}"
  = stylesheet_link_tag "vendor/jquery.jqplot.css"

%p= link_to "&laquo; Return to graphs", url(:graphs, :index)

#graph(style="width: 1200px; height: 400px") No data to show, sorry!

:javascript
  drawGraph(#{@graph_options.to_json});