- form_tag url(:transactions, :destroy, :id => @transaction.id), :method => "delete" do

  %p Are you sure you want to delete this transaction?

  %ul
    %li== <b>#{@transaction.original_description}: #{@transaction.amount_as_currency} (#{@transaction.settled_on})</b>
  
  %p
    = submit_tag "Yes, delete"
    or
    = link_to "No, never mind", url(:transactions, :index)