- @title = "Transactions"

- content_for :head do
  = javascript_include_tag "lib/restful_destroy", "app/delete_multiple"
  = stylesheet_link_tag "app/pagination"

%ul
  %li= link_to "All", url(:transactions, :index, :account_id => nil)
  - for account in Account.all
    %li= link_to account.name, url(:transactions, :index, :account_id => account.webkey)

- if @transactions.any?
  = page_entries_info(@transactions) + "."
  - form_tag url(:transactions, :dispatch, :account_id => params[:account_id]), :id => "form" do
    %p
      = submit_tag "Delete checked", :name => "delete_checked", :id => "delete_checked", :class => "delete", :title => "Are you sure you want to delete these transactions?"
    %table#transactions
      %tr
        %th= check_box_tag "delete_all", :id => "delete_all"
        - unless @account
          %th Account
        %th Date
        %th Check #
        %th Description
        %th Amount
        %td
        %td
      - for transaction in @transactions
        %tr{:id => "transaction_#{transaction.id}"}
          %td= check_box_tag "to_delete[]", :value => transaction.id, :id => "to_delete_#{transaction.id}", :class => "delete_box"
          - unless params[:account_id]
            %td= transaction.account.name
          %td= transaction.settled_on.strftime("%m/%d/%Y")
          %td= transaction.check_number
          %td= transaction.description
          %td= transaction.amount_as_currency
          %td= link_to "Edit", url(:transactions, :edit, :id => transaction.id, :account_id => transaction.account.webkey)
          %td= link_to "Delete", url(:transactions, :delete, :id => transaction.id, :account_id => transaction.account.webkey), :class => "delete", :title => "Are you sure you want to delete this transaction?"
          
  = will_paginate @transactions
- else
  %p No transactions.

- if @account
  %p= link_to "Import transactions into #{@account.name.downcase} account", url(:transactions, :import, :account_id => params[:account_id])
  %p= link_to "Add a transaction", url(:transactions, :new, :account_id => params[:account_id])

%hr

%p= link_to "Clear all transactions", url(:transactions, :clear)