!!! 5
%html
  %head
    %title= window_title(@title)
    /= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "vendor/jquery.min.js"
    = javascript_include_tag "vendor/jquery.form.js"
    = yield_content :head
    %style(type="text/css")
      = yield_content :head_styles
    %script(type="text/javascript" language="javascript")
      = yield_content :head_scripts
  %body
    %h1 Moolah
    %h2= @title if @title
    = message_divs
    = yield